section {
  width: 100%;
  position: relative;
  display: inline-block;
}

ul {
  margin: 0px;
  padding: 0px;
}

div {
  display: flex;
  position: relative;
  bottom: 0px;
  justify-content: flex-end;
  margin: 10px 0px;
  margin-bottom: 0px;
}

button {
  box-shadow: 4px 4px 8px #92abe2;
  background-color: #125bf7;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  font-size: 13pt;
  font-weight: bold;
  color: whitesmoke;
}
