* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #c9b398;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

header{
  background-color: bisque;
}

main {
  width: 100vw;
  background-color: #c9b398;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 60px;
}

#container-btn {
  display: flex;
  background-color: bisque;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  right: 0px;
  bottom: 0px;
}

#btnSave{
  background-color: #3f3fe0;
  color: whitesmoke;
}

#btnAddQuestion {
  background-color: #125bf7;
  color: whitesmoke;
}

@media screen and (min-width: 500px) {
  #ListQuestion{
    width: 90dvw;
    margin: 0 auto;
    background-color: #dbc5ab;
    flex: 1;
  }

  main{
    margin-bottom: 0px;

  }
}

@media screen and (min-width: 1024px) {
  #ListQuestion{
    width: 650px;
    margin: 0 auto;
    padding: 0 25px;
  }

  #container-btn{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: -2px 2px 13px 2px rgba(166,166,166,1);
  }
}

